In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
#mpl.rcParams['agg.path.chunksize'] = 10000
df = pd.read_csv('../economic-survey-of-manufacturing-march-2025-quarter-csv.csv')

In [24]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,MFGQ.SFA1CA,1992.12,2493.37,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
1,MFGQ.SFA1CA,1993.03,3209.20,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
2,MFGQ.SFA1CA,1993.06,2780.17,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
3,MFGQ.SFA1CA,1993.09,1933.01,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
4,MFGQ.SFA1CA,1993.12,2692.92,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN

In [25]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
30055,MFGQ.SFZ5KA,2024.03,10399.776,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30056,MFGQ.SFZ5KA,2024.06,8981.859,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30057,MFGQ.SFZ5KA,2024.09,9426.188,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30058,MFGQ.SFZ5KA,2024.12,10595.690,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30059,MFGQ.SFZ5KA,2025.03,10826.352,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN

In [28]:
df.describe()

            Period    Data_value  Magnitude  Series_title_5
count  8595.000000   8550.000000     8595.0             0.0
mean   2020.345173   5381.600741        6.0             NaN
std       2.605777   7860.724872        0.0             NaN
min    2016.060000   -398.194000        6.0             NaN
25%    2018.090000    725.988500        6.0             NaN
50%    2020.120000   2323.176500        6.0             NaN
75%    2023.030000   5088.010750        6.0             NaN
max    2025.030000  41541.633000        6.0             NaN

     Series_reference   Period STATUS    UNITS  Magnitude  \
0       BDCQ.SF1AA2CA  2016.06      F  Dollars          6
1       BDCQ.SF1AA2CA  2016.09      F  Dollars          6
2       BDCQ.SF1AA2CA  2016.12      F  Dollars          6
3       BDCQ.SF1AA2CA  2017.03      F  Dollars          6
4       BDCQ.SF1AA2CA  2017.06      F  Dollars          6
...               ...      ...    ...      ...        ...
8590     BDCQ.SF8RSCA  2024.03      F  Dollars          6
8591     BDCQ.SF8RSCA  2024.06      F  Dollars          6
8592     BDCQ.SF8RSCA  2024.09      F  Dollars          6
8593     BDCQ.SF8RSCA  2024.12      F  Dollars          6
8594     BDCQ.SF8RSCA  2025.03      F  Dollars          6

                             Subject  \
0     Business Data Collection - BDC
1     Business Data Collection - BDC
2     Business Data Collection - BDC
3     Business Data Collection - BDC
4     Business Data Collection - BDC
...                              ...
8590  Business Data Collection - BDC
8591  Business Data Collection - BDC
8592  Business Data Collection - BDC
8593  Business Data Collection - BDC
8594  Business Data Collection - BDC

                                                Group  \
0     Industry by financial variable (NZSIOC Level 2)
1     Industry by financial variable (NZSIOC Level 2)
2     Industry by financial variable (NZSIOC Level 2)
3     Industry by financial variable (NZSIOC Level 2)
4     Industry by financial variable (NZSIOC Level 2)
...                                               ...
8590  Industry by financial variable (NZSIOC Level 1)
8591  Industry by financial variable (NZSIOC Level 1)
8592  Industry by financial variable (NZSIOC Level 1)
8593  Industry by financial variable (NZSIOC Level 1)
8594  Industry by financial variable (NZSIOC Level 1)

                Series_title_1                       Series_title_2  \
0     Sales (operating income)                 Forestry and Logging
1     Sales (operating income)                 Forestry and Logging
2     Sales (operating income)                 Forestry and Logging
3     Sales (operating income)                 Forestry and Logging
4     Sales (operating income)                 Forestry and Logging
...                        ...                                  ...
8590          Operating profit  Arts, Recreation and Other Services
8591          Operating profit  Arts, Recreation and Other Services
8592          Operating profit  Arts, Recreation and Other Services
8593          Operating profit  Arts, Recreation and Other Services
8594          Operating profit  Arts, Recreation and Other Services

      Series_title_3 Series_title_4
0     Current prices     Unadjusted
1     Current prices     Unadjusted
2     Current prices     Unadjusted
3     Current prices     Unadjusted
4     Current prices     Unadjusted
...              ...            ...
8590         Current     Unadjusted
8591         Current     Unadjusted
8592         Current     Unadjusted
8593         Current     Unadjusted
8594         Current     Unadjusted

[8595 rows x 11 columns]

In [36]:
df_clean.head()

,Series_reference,Period,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4
0,BDCQ.SF1AA2CA,2016.06,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
1,BDCQ.SF1AA2CA,2016.09,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
2,BDCQ.SF1AA2CA,2016.12,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
3,BDCQ.SF1AA2CA,2017.03,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted
4,BDCQ.SF1AA2CA,2017.06,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted